<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href=" ">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">REGISTER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
            </li>
        </ul>
    </body>
</html>